@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');


body {
  background: #FFFFFF;
  margin:0; 
  padding:0; 
  overflow:hidden
}

svg {
  position:fixed; 
  bottom:0; 
  left:0;
  height: 90%;
  width:100%
}

.text-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 4rem;
  padding-right: 4rem;
}

.text-content img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.text-content h1 {
  font-family: "Montserrat", sans-serif;
  color: #1D2A6E;
  text-align: center;
  font-weight: 800;
  opacity: 0;
  margin-top: 20px;
}

@media screen and (max-width: 460px ) {
  .text-content img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
  }
}